# Ignore everything
/*

# Whitelist some files
!.gitignore
!.bashrc.d/
!.bashrc/
!.vimrc
!.vim/
!.vimrc.d/
!.tmux.conf
!.gitconfig

# Ignore all files names .DS_Store or ending with .log
**/.DS_Store
**.log

# Blacklist folder or files
/.bashrc.d/ssh.bashrc
